* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --primary-color: #4CC9F0;
  --accent-color:  #B5179E;
  --dark-color:    #3A0CA3;
  --text-color: #333;
  --bg-color: #f5f5f5;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Source sans 3', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  line-height: 1.6;
}


header {
  background-color: var(--dark-color);
  color:#ffffff;
  text-align: center;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  padding: 1rem;
}
.hero{
    position: relative;
}

.hero picture,
.hero img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
}
.data section,
.weather section{
  background-color: white;
  border-radius: 8px;
  padding: 1rem; 
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

section {
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.data section .data-image{
  width: 100%;
  max-width: 320px;
  height: auto;
  display: block;
  margin: 0 auto 1rem auto;
  border-radius: 6px;
}

h2 {
  color: var(--primary-color);
}

.weather-section .weather {
  width: 48px;
  height: 48px;
  display: block;
  margin: 0.5rem 0;
}

footer {
  background-color: var(--accent-color);
  color: #ffffff;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}
